<a href="https://colab.research.google.com/github/nicolegold/AnalistaMachineLearning/blob/master/Aplicacoes_cap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Colab para o final do cap 3 de MPT

In [0]:
#importando as bibliotecas
import pandas as pd  #bibioteca responsável para o tratamento e limpeza dos dados
import numpy as np #biblioteca utilizada para o tratamento eficiente de dados numéricos
import datetime  #biblioteca utilizada para trabalhar com datas

In [4]:
#importando os dados para o google colab
from google.colab import files
uploaded = files.upload()

Saving BL-Flickr-Images-Book.csv to BL-Flickr-Images-Book.csv

In [0]:
#importando os dados como um dataframe
df_flickr_book=pd.read_csv('BL-Flickr-Images-Book.csv')  #dataset que contém informações sobre diferentes livros existentes na "British Library"

In [6]:
#conhecendo o dataset 
df_flickr_book.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [7]:
#obtendo informações sobre o dataset
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [0]:
#realizando o drop de colunas 
colunas_retiradas = ['Edition Statement', 'Corporate Author','Corporate Contributors','Former owner', 'Engraver','Contributors','Issuance type','Shelfmarks'] #lista que contém as colunas a serem retiradas
df_flickr_book.drop(columns=colunas_retiradas,axis=1,inplace=True)

In [9]:
df_flickr_book.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [10]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: int64(1), object(6)
memory usage: 453.3+ KB

In [11]:
#verificando se existe um identificador único para o dataset (chave)
print(df_flickr_book['Identifier'].is_unique)

True

In [12]:
#contando a quantidade de valores únicos
df_flickr_book['Identifier'].nunique()

8287

In [13]:
df_flickr_book.loc[1905:, 'Date of Publication'].head(10) #seleciona as linhas que contém a data de publicação do indice 1905 até o final do arquivo

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [0]:
#tratando os datas de publicação de cada um dos livros através das expressões regulares
expre_regular = r'^(\d{4})'   #define a expressão regular que deve ser utilizada para cada uma das datas de publicação (encontra o conjunto de 4 dígitos)
extr = df_flickr_book['Date of Publication'].str.extract(expre_regular, expand=False)  #aplica o modelo de extração através da expressão regular definida

In [15]:
extr[1905:]

1905    1879
1906    1886
1907    1844
1908    1861
1909    1884
        ...
8282    1838
8283    1831
8284     NaN
8285    1834
8286    1834
Name: Date of Publication, Length: 6382, dtype: object

In [0]:
#aplicando ao dataset e convertendo para numérico
df_flickr_book['Date of Publication']=pd.to_numeric(extr)

In [17]:
#verificando o dataset
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   7316 non-null   float64
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 453.3+ KB

In [18]:
#contando a quantidade de valores nulos existentes
df_flickr_book['Date of Publication'].isnull().sum()  # o isnull() retorna uma serie com a resposta para a pergunta (isNull?)

971

In [19]:
df_flickr_book['Date of Publication'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284     True
8285    False
8286    False
Name: Date of Publication, Length: 8287, dtype: bool

In [0]:
df_flickr_book.dropna(subset=['Date of Publication'],inplace=True)  #elimina as linhas que possuem valores nulos
df_flickr_book['Date of Publication']=df_flickr_book['Date of Publication'].astype(int)  #transforma os float em int

In [21]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7316 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            7316 non-null   int64
 1   Place of Publication  7316 non-null   object
 2   Date of Publication   7316 non-null   int64
 3   Publisher             3576 non-null   object
 4   Title                 7316 non-null   object
 5   Author                5782 non-null   object
 6   Flickr URL            7316 non-null   object
dtypes: int64(2), object(5)
memory usage: 457.2+ KB

In [22]:
#identificando os locais de publicação dos livros
df_flickr_book['Place of Publication'].head(10)

0                       London
1     London; Virtue & Yorston
2                       London
3                       London
4                       London
5                       London
6                       London
8                      London]
9                       London
10                    Coventry
Name: Place of Publication, dtype: object

In [23]:
#identificando os locais que possuem a cidade de Londres como local de publicação
df_flickr_book['Place of Publication'].str.contains('London').head(10)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
8      True
9      True
10    False
Name: Place of Publication, dtype: bool

In [0]:
london = df_flickr_book['Place of Publication'].str.contains('London')  #cria a serie que contém os valores True e False para a cidade de Londres
oxford=df_flickr_book['Place of Publication'].str.contains('Oxford')  #cria a serie que contém os valores True e False para a cidade de Oxford

In [0]:
df_flickr_book['Place of Publication']=np.where(london, 'London',np.where(oxford, 'Oxford',df_flickr_book['Place of Publication'].str.replace('-', ' ')))  #aplica o where para preencher cada uma das sentenças com o local correto

In [26]:
df_flickr_book.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

**Trabalhando Com Valores Sem Sentido**

In [28]:
#importando os dados para o google colab
from google.colab import files
uploaded = files.upload()

Saving pima-indians-diabetes.csv to pima-indians-diabetes.csv

In [0]:
#importando um novo dataset
pima_dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)
pima_dataset.head()

0. Numero de vezes em que ficou grávida.
1. Concentração de glicose no plasma.
2. Pressão diastólica (mm Hg).
3. Triceps skinfold thickness (mm).
4. Insulina em jejum (mu U/ml).
5. Índice de massa corporal (weight in kg/(height in m)^2).
6. Diabetes pedigree function.
7. Idade.
8. Possui ou não diabetes (1 ou 0).

In [0]:
pima_dataset.info()  #encontra os tipos de valores e valores nulos

In [0]:
print(pima_dataset.describe()) #resumo da estatística descritiva do dataset

In [0]:
pima_dataset.drop(columns=[0,8],axis=1)[pima_dataset.eq(0).any(1)] #verificando onde existem valores "estranhos iguais a 0" - coluna 0 e 8 podem ter valores nulos

In [0]:
#contando a quantidade de valores nulos em cada uma das colunas que não podem
print((pima_dataset[[1,2,3,4,5]] == 0).sum())

In [0]:
#substituindo os valores 0 por NaN
pima_dataset[[1,2,3,4,5]] = pima_dataset[[1,2,3,4,5]].replace(0, np.NaN)

In [0]:
pima_dataset.info()

In [0]:
pima_dataset.isnull().sum() #mostra a quantidade de valores nulos existentes em cada uma das colunas

**Tratando os Valores Nulos**

In [0]:
#apenas removendo as colunas que contém valores nulos
df_remove_nan=pima_dataset.dropna()
df_remove_nan.info()

In [0]:
df_remove_nan.head()

In [0]:
pima_dataset.head()

In [0]:
#identificando os outliers
pima_dataset.boxplot([1,2,3,4,5]) #"bolinhas' fora das caixas indicam os possíveis outliers

In [0]:
#preenchendo os valores com a média
df_nan_media=pima_dataset.fillna(pima_dataset.mean())
df_nan_media.info()

In [0]:
df_nan_media.head()

**Trabalhando com dados categóricos**

In [0]:
#importando os dados para o google colab
from google.colab import files
uploaded = files.upload()

In [0]:
df_carros = pd.read_csv('imports-85.txt', sep=",", header=None,na_values="?") #importando o dataset

In [0]:
df_carros.head()

In [0]:
headers = {0:"symboling", 1:"normalized_losses", 2:"make", 3:"fuel_type", 4:"aspiration",
           5:"num_doors", 6:"body_style", 7:"drive_wheels",8: "engine_location",
           9:"wheel_base", 10:"length", 11:"width",12: "height", 13:"curb_weight",
           14:"engine_type", 15:"num_cylinders",16: "engine_size", 17:"fuel_system",
           18:"bore", 19:"stroke", 20:"compression_ratio", 21:"horsepower", 22:"peak_rpm",
           23:"city_mpg", 24:"highway_mpg", 25:"price"}

In [0]:
df_carros.rename(columns=headers,inplace=True)
df_carros.head()

In [0]:
df_carros.info()

In [0]:
df_carros.dtypes.eq('object').sum() #conta a quantidade de "object" existente no dataset

In [0]:
#selecionando apenas os dados categóricos
df_carros_string = df_carros.select_dtypes(include=['object']).copy()#realiza uma cópia do dataset apenas para as colunas do tipo string
df_carros_string.head()

In [0]:
df_carros_string.info()

In [0]:
df_carros_string.isnull().sum()  #encontra onde existem valores nulos

In [0]:
df_carros_string.dropna(inplace=True) #realiza o drop para os valroes nulos
df_carros_string.info()

In [0]:
df_carros_string["num_cylinders"].value_counts()  #conta os valores para cada uma das "classes"

In [0]:
#utilizando o dicionário e a função "replace" para transformar em numericos
mapeamento_classes = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}

In [0]:
#aplicando a função replace
df_carros_string.replace(mapeamento_classes, inplace=True)
df_carros_string.head()

In [0]:
#aplicando o label encoding
df_carros_string["body_style"] = df_carros_string["body_style"].astype('category')  #define a coluna de 'body_style' como categórica
df_carros_string.dtypes

In [0]:
#após definir como categórica é possível realizar o procedimento de label encoding
df_carros_string["body_style_cat"] = df_carros_string["body_style"].cat.codes #aplica a codificação para a coluna "body_style" e cria a coluna "body_style_cat"
df_carros_string.head()

In [0]:
df_carros_string.info()

In [0]:
#aplicando o One-Hot_encoding
df_carros_string['drive_wheels'].unique()

In [0]:
pd.get_dummies(df_carros_string, columns=["drive_wheels"]).head() #aplicando o hot encoding sobre os valores tração dos carros